<ion-view view-title="Account">
  <ion-content ng-controller="app.account.AccountController as ctrl">
    <ion-list>
    <ion-toggle  ng-model="enableFriends">
        Enable Friends {{ctrl.enableFriends}}
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
