<ion-view view-title="Dashboard">
  <ion-content class="padding" ng-controller="app.dash.DashController as ctrl">
    <div class="list card">
      <div class="item item-divider">{{ 'DASH.UPDATES' | translate }}</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">{{ 'DASH.HEALTH' | translate }}</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">{{ 'DASH.UPCOMING' | translate }}</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
