<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home strong" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- New Booking Tab -->
  <ion-tab title="New Booking" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/newBooking">
    <ion-nav-view name="tab-newBooking"></ion-nav-view>
  </ion-tab>


  <!-- My Bookings Tab -->
  <ion-tab title="My bookings" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/myBookings">
    <ion-nav-view name="tab-myBookings"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Information" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/information">
    <ion-nav-view name="tab-information"></ion-nav-view>
  </ion-tab>

  <!-- Settings tab -->
  <ion-tab title="Settings" icon-off="ion-android-options" icon-on="ion-android-options" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
